img
{
  height:5rem;
  width:5rem;
}
button{

 border: none;

 padding: 25px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px
}
.w
{
  background-image: url("images/crash.png");
}
.a
{
  background-image: url("images/kick.png");
}
.s
{
  background-image: url("images/snare.png");
}
.d
{
  background-image: url("images/tom1.png");
}
.j
{
  background-image: url("images/tom2.png");
}
.k
{
  background-image: url("images/tom3.png");
}
.l
{
  background-image: url("images/tom4.png");
}
